@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    @apply flex items-center justify-center;
}

.flex-between {
    @apply flex items-center justify-between;
}

#logo-container h1,
#hamburger-panel-logo {
    background: url(/assets/videos/logo-video.gif) no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Search Panel Mobile CSS */
#search-input-mobile::placeholder {
    @apply text-anime-white;
}

#search-by-genre {
    display: grid;
    grid-template-rows: 9rem 2.5rem 6rem;
    grid-template-columns: 1.6fr 1.7fr 1.9fr;
    gap: .5rem;
    grid-template-areas:
        "a a b"
        "c d b"
        "c d e";
}

#search-by-genre div:nth-child(1) {
    grid-area: a;
}

#search-by-genre div:nth-child(2) {
    grid-area: b;
}

#search-by-genre div:nth-child(3) {
    grid-area: c;
}

#search-by-genre div:nth-child(4) {
    grid-area: d;
}

#search-by-genre div:nth-child(5) {
    grid-area: e;
}

@media (min-width: 500px) and (max-width: 639px) {
    #search-by-genre {
        grid-template-rows: 12rem 5rem 7rem;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    #search-by-genre {
        grid-template-rows: 16rem 6rem 8rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #search-by-genre {
        grid-template-rows: 19rem 7rem 9rem;
    }
}

/* Search Panel Desktop CSS */

#search-input-desktop::placeholder {
    @apply text-anime-white;
}

#search-by-genre-desktop {
    display: grid;
    grid-template-columns: 1.6fr 1.7fr 1.9fr;
    gap: .7rem;
    grid-template-areas:
        "a a b"
        "c d b"
        "c d e";
}

#search-by-genre-desktop div:nth-child(1) {
    grid-area: a;
}

#search-by-genre-desktop div:nth-child(2) {
    grid-area: b;
}

#search-by-genre-desktop div:nth-child(3) {
    grid-area: c;
}

#search-by-genre-desktop div:nth-child(4) {
    grid-area: d;
}

#search-by-genre-desktop div:nth-child(5) {
    grid-area: e;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    #search-by-genre-desktop {
        grid-template-rows: 15rem 6rem 8rem;
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    #search-by-genre-desktop {
        grid-template-rows: 14rem 7rem 9rem;
    }
}

@media (min-width: 1536px) and (max-width: 1919px) {
    #search-by-genre-desktop {
        grid-template-rows: 12rem 5rem 8rem;
    }
}

@media (min-width: 1920px) {
    #search-by-genre-desktop {
        grid-template-rows: 18rem 7rem 12rem;
    }
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

/* Continue Page */

.continue-container::-webkit-scrollbar {
    scrollbar-width: none;
}


.continue-item .overlay {

    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.continue-item .text-overlay {

    transition: opacity 0.3s ease;
}

.continue-item:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.continue-item:hover .text-overlay {
    opacity: 1;
}